#Footer {
  height: 25vh;
  margin-top: 75vh;
  overflow: hidden;
  position: relative;
  background-color: #2E2E2E;
  -webkit-box-shadow: 0 -4px 12px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0 -4px 12px 0px rgba(0, 0, 0, 0.25);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5vw [method-picker] calc(calc(80vw - 40vh) / 2) 5vw [last-words] 40vh 5vw [table-picker] calc(calc(80vw - 40vh) / 2) 5vw;
      grid-template-columns: 5vw [method-picker] calc(calc(80vw - 40vh) / 2) 5vw [last-words] 40vh 5vw [table-picker] calc(calc(80vw - 40vh) / 2) 5vw;
}

#Footer .next-method-picker,
#Footer .table-picker {
  height: 10vh;
  margin-top: 7.5vh;
  z-index: 2;
  background-color: white;
  border-radius: 5vh;
  -webkit-box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.25);
}

#Footer .next-method-picker {
  position: relative;
  grid-column: method-picker / span 1;
  cursor: pointer;
  overflow: hidden;
}

#Footer .next-method-picker h3 {
  width: 50%;
  float: left;
  margin: 0;
  margin-top: 5vh;
  font-size: 2vh;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .25s;
  transition: all .25s;
}

#Footer .next-method-picker h3.selected {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

#Footer .next-method-picker .current-word-number {
  position: absolute;
}

#Footer .next-method-picker .method-bubble {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  background-color: #ffcef8;
  z-index: -1;
  border-radius: 2.5vh;
  -webkit-transition: all .25s;
  transition: all .25s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Footer .next-method-picker .method-bubble.selected2 {
  left: 50%;
  background-color: #f8ed93;
}

#Footer .next-method-picker .method-bubble h4 {
  margin: 0;
  font-weight: 600;
  font-size: 1.5vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: translateY(1.5vh);
          transform: translateY(1.5vh);
}

#Footer .table-picker {
  grid-column: table-picker / span 1;
}

#Footer .last-words-shape-container {
  height: 10vh;
  width: 40vh;
  margin: auto;
  margin-top: 7.5vh;
  grid-column: last-words / span 1;
  -webkit-transition: all .15s;
  transition: all .15s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#Footer .last-words-shape-container .last-word-shape {
  min-width: 5vh;
  height: 10vh;
  margin: 0 1.5vh;
  z-index: 5;
}

#Footer .last-words-shape-container .last-word-shape .shape {
  height: 10vh;
  width: 5vh;
  background-color: white;
  border-radius: 2.5vh;
  -webkit-box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all .35s;
  transition: all .35s;
}

#Footer .last-words-shape-container .last-word-shape .shape:hover {
  -webkit-box-shadow: 0 12px 12px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0 12px 12px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: all .15s;
  transition: all .15s;
  -webkit-transform: translateY(-2vh);
          transform: translateY(-2vh);
}

#Footer .last-words-shape-container .last-word-shape .shape:active {
  -webkit-transform: translateY(1vh);
          transform: translateY(1vh);
}

#Footer .last-words-shape-container .last-word-shape.first {
  -webkit-animation: firstShapeComes .25s linear forwards;
          animation: firstShapeComes .25s linear forwards;
}

#Footer .last-words-shape-container .last-word-shape.middle {
  -webkit-animation: moveToLeft .25s linear forwards;
          animation: moveToLeft .25s linear forwards;
}

#Footer .last-words-shape-container .last-word-shape.last {
  -webkit-animation: moveToLeft .25s linear forwards;
          animation: moveToLeft .25s linear forwards;
}

#Footer .last-words-shape-container .disappeared-word-shape {
  min-width: 5vh;
  height: 10vh;
  margin: 0 1.5vh;
  background-color: white;
  border-radius: 2.5vh;
  -webkit-box-shadow: 0 -4px 12px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0 -4px 12px 0px rgba(0, 0, 0, 0.25);
  -webkit-animation: disappear-shape .25s linear forwards;
          animation: disappear-shape .25s linear forwards;
  pointer-events: none;
}

#Footer #Background {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-75vh);
          transform: translateY(-75vh);
  z-index: 0;
}

@-webkit-keyframes firstShapeComes {
  from {
    -webkit-transform: translateX(1vh);
            transform: translateX(1vh);
    -webkit-filter: blur(1vh);
            filter: blur(1vh);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes firstShapeComes {
  from {
    -webkit-transform: translateX(1vh);
            transform: translateX(1vh);
    -webkit-filter: blur(1vh);
            filter: blur(1vh);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@-webkit-keyframes moveToLeft {
  from {
    -webkit-transform: translateX(7vh);
            transform: translateX(7vh);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveToLeft {
  from {
    -webkit-transform: translateX(7vh);
            transform: translateX(7vh);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes disappear-shape {
  from {
    -webkit-transform: translateX(7vh);
            transform: translateX(7vh);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(6vh);
            transform: translateX(6vh);
    -webkit-filter: blur(1vh);
            filter: blur(1vh);
    opacity: 0;
  }
}

@keyframes disappear-shape {
  from {
    -webkit-transform: translateX(7vh);
            transform: translateX(7vh);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(6vh);
            transform: translateX(6vh);
    -webkit-filter: blur(1vh);
            filter: blur(1vh);
    opacity: 0;
  }
}
/*# sourceMappingURL=Footer.css.map */